/* header section css  */

.top_nav {
    display: flex;
    padding: 0 5px;
}

.top_nav--full {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom_nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}

.top_nav__left__sec2--menu {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
} 

.header__hr_1{
    margin: -0.5rem 0 0 0 ;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.bottom_nav{
    padding:  5px 15px;
}
.bottom_nav__left {
    display: flex;
    padding: 0 5px;
    align-items: center;
    margin-bottom: 5px;
}

/* header section ends  */