body {
    height: 100vh;
}

/* header section css  */

.top_nav {
    display: flex;
    padding: 0 5px;
}

.top_nav--full {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom_nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}

.top_nav__left__sec2--menu {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
} 

.header__hr_1{
    margin: -0.5rem 0 0 0 ;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.bottom_nav{
    padding:  5px 15px;
}
.bottom_nav__left {
    display: flex;
    padding: 0 5px;
    align-items: center;
    margin-bottom: 5px;
}

/* header section ends  */

/* main content section starts  */

.content_section {
    display: flex;
}

.content_section__left {
    width: 13%;
    /* background-color: rgb(187, 215, 215); */
    border-right: 2px solid #ebebeb;
    overflow: scroll;
}

.content_section__left::-webkit-scrollbar {
    width: 8px;
}

.content_section__left::-webkit-scrollbar-track {
    background: inherit;
}

.content_section__left::-webkit-scrollbar-thumb {
    background: #dadce0;
}

.content_section__left::-webkit-scrollbar-thumb:hover {
    background: #787b80;
}

.content_section__right{
    width: 13%;
    border-left: 2px solid #ebebeb;
    overflow: scroll;
}

.content_section__right::-webkit-scrollbar {
    width: 8px;
}

.content_section__right::-webkit-scrollbar-track {
    background: inherit;
}

.content_section__right::-webkit-scrollbar-thumb {
    background: #dadce0;
}

.content_section__right::-webkit-scrollbar-thumb:hover {
    background: #787b80;
}

.content_section__main {
    width: 74%;
    background-color: #f8f9fa;
}

/* main content sectin ends  */


/* left side panel starts  */

.content_section__left__preview_section{
    padding: 12px 20px;
    cursor: pointer;
    /* display: flex; */
}

.slide_preview{
    display: flex;
    margin-bottom: 10px;
}

/* left side panel ends  */


/* right panel starts  */

.themeBox{
    width: 100%;
    height: 85px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1.5em;
}

.layout_box{
    width: 100%;
    height: 85px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1.5em;
    position: relative;
}

.layout_preview_window {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    box-sizing: border-box;
    border: 2px #d1cece solid;
    border-radius: 4px;
}

.layout_preview_window:hover {
    border-color: #9aa0a6;
}

.theme_preview_window{
    width: 80%;
    height: 100%;
    margin: 0 10%;
    box-sizing: border-box;
    border: 1px #949494 solid;
    border-radius: 4px;
}

.theme_sec_heading{
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    text-align: center;
}

#bottom_nav_layout_select_btn{
    cursor: pointer;
}

/* right panle ends  */

/* url panle section  */

.linkpanel_inputdiv{
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}
.linkpanel_input {
    height: 32px;
    width: 80%;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
    border-radius: 8px;
}

.linkpanel_btn {
    padding: 6px 8px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: #f8f9fa;
}

.linkpanel_btn:hover{
    color:#949494;
}

/* url panlesection ends  */