body {
    height: 100vh;
}

/* header section css  */

.top_nav {
    display: flex;
    padding: 0 5px;
}

.top_nav--full {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom_nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}

.top_nav__left__sec2--menu {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
} 

.header__hr_1{
    margin: -0.5rem 0 0 0 ;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.bottom_nav{
    padding:  5px 15px;
}
.bottom_nav__left {
    display: flex;
    padding: 0 5px;
    align-items: center;
    margin-bottom: 5px;
}

/* header section ends  */

/* main content section starts  */

.content_section {
    display: flex;
}

.content_section__left {
    width: 13%;
    /* background-color: rgb(187, 215, 215); */
    border-right: 2px solid #ebebeb;
}

.content_section__right{
    width: 13%;
    border-left: 2px solid #ebebeb;
    /* background-color: rgb(143, 145, 118); */
}

.content_section__main {
    width: 74%;
    background-color: #f8f9fa;
}

/* main content sectin ends  */


/* left side panel starts  */

.content_section__left__preview_section{
    padding: 12px 20px;
    /* display: flex; */
}

.slide_preview{
    display: flex;
    margin-bottom: 10px;
}

/* left side panel ends  */