@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: 10px 12px;
}