@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding-top: 10px;
    height: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: 10px 12px;
}

h1, h2, h3, h4, h5, h6{
    display: inline-block;
}

textarea{
    background-color: transparent;
}

.textareaHeading {
    font-size: 3em;
    box-sizing: border-box;
    /* border: 2px solid #ccc; */
    border-radius: 3px;
    font-weight: 600;
    font-weight: bolder;
}

.textareaBody{
    font-size: 2em;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
}

textarea::placeholder {
    color: black;
    font-size: 0.8em;
}