
#slideshow{
    width: 100%;
    position: absolute;
    z-index: -5;
    height: 100%;
    display: none;
}

.slideshow_container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

.slideshow_slide{
    width: 100%;
    display: flex;
    opacity: 1;
    height: 100%;
    pointer-events: none;
}

.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 2s;
    animation-name: fade-image;
    animation-duration: 2s;
}

@-webkit-keyframes fade-image {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade-image {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}