
/* header section css  */

.icon {
    height: 40px;
    width: 40px;
    margin: 0 0 4px 8px;
}

.icon img {
    height: 100%;
    width: 100%;
}

.file_name_input {
    border: 2px solid transparent;
    border-radius: 2px;
    color: #949494;
    font-size: 1rem;
    height: 20px;
    line-height: 22px;
    margin: 0;
    min-width: 1px;
    padding: 2px 7px;
}

.file_name_input:focus {
    outline: none !important;
    border: 2px solid #949494 !important;
    box-shadow: none;
    border-radius: 4px;
    color: #202124;
    transition: 0.2s;
}

.file_name_input:hover {
    border-color: #e5e5e5;
    transition: 0.2s;
}

.top_nav__left__sec2--menu li{
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    color: #202124;
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: .2px;
    padding: 0 6px 4px 6px;
}

.top_nav__right{
    padding-right: 3%;
}

.top_nav__right--btn{
    padding: 0 20px 0 0;
}

.present_btn img {
    width: 15px;
    height: 15px;
    padding-right: 8px;
}

.present_btn {
    border: 1px solid #949494;
    border-radius: 4px;
    color: #202124;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    line-height: 16px;
}

.present_btn:hover {
    border-color: #feedbc;
    transition: 0.2s;
}

.top_nav__left__sec2--menu li:active {
    background-color: #fde293;
}

.top_nav__left__sec2--menu li:hover {
    background-color: #e5e5e5;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.8rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p,
.bottom_nav__dropdown-content p {
    padding: 12px;
    margin: 0;
}

.dropdown-content p:hover {
    background-color: #e5e5e5;
}

.bottom_nav__left--icon {
    margin-right: 8px;
    padding: 4px 8px 2px;   
}

.bottom_nav__left--icon--first {
    width: 16px;
    height: 16px;
}

.bottom_nav__left--icon:hover {
    background-color: #e5e5e5;
}

.bottom_nav--vline img{
    width: 16px;
    height: 16px;
}

.bottom_nav__left--icon--second{
    width: 12px;
    height: 12px;
    padding-left: 2px;
    margin-left: 0;
}

.bottom_nav__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.8rem;
}

.dropdown:hover .bottom_nav__dropdown-content {
    display: block;
}

.bottom_nav__dropdown-content p:hover {
    background-color: #e5e5e5;
}

.bottom_nav__right{
    padding-right: 4%;
}

#nav_toggle--btn_down{
    display: none;
}

.bottom_nav__left--text {
    font-size: 0.8rem;
}

/* header section ends  */

/* main content section starts  */

.workspace{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.content_section__main--placeholder a{
    color: #999;
    cursor: pointer;
    font-size: 24px;
    font-style: italic;
    position: relative;
    text-align: center;
    width: 100%;
}

.content_section__main--placeholder {
    border-radius: 15px;
    border: 2px dashed #999;
    cursor: pointer;
    height: 80%;
    min-height: 36px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* display: none; */
} 

.content_section__main--slide{
    width: 80%;
    height: 80%;
    min-height: 36px;
    min-width: 250px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #949494;
    position: relative;
}

/* main content sectin ends  */


/* left side panel starts */

.preview_section__sn {
    color: #202124;
    font-size: 0.75rem;
    font-weight: 500;
}

.preview_section__window{
    /* background-color: aqua; */
    border-radius: 6px;
    height: 85px;
    width: 100%;
}

.preview_section__box{
    width: 80%;
    padding: 4px;
    margin: 0 auto;
    border: 2px solid #9aa0a6;
    border-radius: 10px;
}

.preview_section__box.active {
    border-color: #edad1e;
}

.preview_section__box:hover {
   border-color: #7b7878;
}

.preview_section__window--slide
{   
    width: 100%;
    height: 85px;
    max-width: 100%;
    min-height: 85px;
    min-width: 80%;
}
/* left side panel ends  */


/* context menu  */

.slide_context_menu{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.slide_context_menu__item {
    cursor: pointer;
    padding: 8px 15px;
}

.slide_context_menu__item:hover {
    background-color: #f8f8f8f8;
}


/* context menu ends  */